/* CSS file for wwr */
:root {
    --primary-color: #000;
    --secondary-color: #de493c;
    --accent1-color: #506490;
    --accent2-color: d#daefd9;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--accent2-color);
}

header {
    --background-color: var(--accent1-color);
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 70px 1fr 1fr;
    align-items: center;

}

header img {
    color: gold;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.oooh-baby-regular {
    font-family: "Oooh Baby", cursive;
    font-weight: 600;
    font-style: bold;
}

#logo {
    font-size: 2.4rem;
    color: darkblue;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 17px;
    width: 96%;
    /* padding: 16px; */
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

nav,
p,
section,
article {
    /* margin: 16px; */
    position: relative;
    width: 480;
    /* padding: 8px; */
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;

    list-style: none;

}

.menu li {
    flex: 1 1 auto;
    list-style: none;
}

.menu a {
    display: block;
    color: navy;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu a:hover {
    color: tomato;
    text-decoration: underline;
}

.hero article {
    position: absolute;
    display: flex;
    align-items: flex-start;

    gap: 1rem;
    padding: 1rem;
    background-color: #608074;
    color: #fff;
    top: 380px;
    left: 340px;
    height: 116px;
    width: 500px;
}

.hero {
    position: relative;
    padding-bottom: 2rem;
}

.hero img {
    display: block;
    width: 96%;
    height: auto;
}

.hero article img {

    width: 125px;
}

.socialmedia img {
    text-decoration: none;
    padding: 12px;
    width: 3rem;
    height: auto;
}

.subtitle {
    width: 96%;
    top: 56px;
    position: absolute;
    background-color: var(--accent1-color);
    color: #fff;
    text-align: center;
    opacity: 0.7;
}

#history {
    display: flex;
    align-items: flex-start;

    gap: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr 80px 1fr;
}

#history img {
    width: 300px;
    height: auto;
}

#adventures {
    display: flex;
    align-items: flex-start;

    gap: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

#adventures img {
    height: 180px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

}