* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    display: flex;
    flex: content;
    background-color: #aba;
    /* write declarations here */
    /* place-items: center; */
    justify-content: center;
    align-items: center;
    /* text-align: center;
    align-self: center; */
}

.grid {
    background-color: #abb;
    /* enter declarations here */
    display: grid;
    justify-content: center;
    align-items: center;
    /* justify-self: center; */

}

.container2 {
    /* write declarations here */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    /* write declarations here */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1/3;
}

.columns-3 {
    /* write declaration here */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1/4;
}

.three {
    margin: .25rem;
    background-color: #abd;
}